html {
    scroll-behavior: smooth;
}

body {
    font-family: "Gilroy";
    background-color: #FEFEFE;
    font-size: 18px;
    color: black;
}

main {
    min-height: 100vh;
}

/* Back to top button section start */
#back-top-button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#back-top-button::after {
    content: url("images/svg/up-chevron.svg");
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#back-top-button:hover {
    cursor: pointer;
    background-color: #333;
}
#back-top-button:active {
    background-color: #555;
}
#back-top-button.show {
    opacity: 1;
    visibility: visible;
}
/* Back to top button section end */

#scroll-nav {
    transition: 0.5s;
    top: -5.1em;
}

.navbar-brand img {
    height: 82px;
}

#static-menu-info .nav-item p span.text-primary {
    font-size: 20px;
}

#static-menu-info .nav-item:not(:first-child) p span.text-primary {
    border-bottom: solid 1px #1771F1;
}

#static-menu nav.navbar .nav .nav-item .nav-link {
    font-size: 20px;
}

/* Magnific popup section start */
/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

button.mfp-close {
    font-size: 2.5rem;
}

#appointment-form input, #appointment-form textarea, #appointment-form button[type="submit"] {
    border: none;
    outline: none;
    border-radius: 63px;
    padding: 13px 23px 13px 23px;
}

#appointment-form textarea {
    min-height: 100px;
    border-radius: 16px;
    resize: none;
}

#appointment-form input::placeholder, #appointment-form textarea::placeholder {
    color: #ABABAB;
}
/* Magnific popup section end */

#header-about h4 {
    font-family: "Gilroy";
}

#header-about ul {
    padding-left: 2rem;
    list-style-type: none;
}

#header-about ul li {
    font-size: 20px;
    padding-left: 2rem;
    background-image: url("images/svg/Ellipse.svg");
    background-position: 1rem 0.68rem;
    background-size: 0.5rem 0.5rem;
    background-repeat: no-repeat;
}

#header-about button {
    border-radius: 60px;
    padding: 24px 64px 24px 64px;
}

#header-about button:hover {
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.6), 0px -10px 20px rgba(255, 255, 255, 0.6);
}


main>* {
    margin-top: 120px;
}

main>*:last-child {
    margin-bottom: 120px;
}

#offer .container .border-radius-16 {
    box-shadow: -6px 6px 20px 5px rgba(0, 0, 0, 0.1);
}

#offer-form-container {
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.12);
    padding: 30px 40px 40px 40px;
}

#offer-form-container h5 {
    margin-bottom: 30px;
}

#offer-form input, #offer-form button[type="submit"] {
    border: none;
    outline: none;
    border-radius: 63px;
    padding: 13px 23px 13px 23px;
}

#offer-form input::placeholder {
    color: #2E2E2E;
}

#target-audience .container .row p.fw-bold {
    font-size: 24px;
}

.main-timeline {
    position: relative;
}

.main-timeline:before {
    content: '';
    height: 100%;
    width: 6px;
    background-color: #1771F1;
    box-shadow: inset 0px -40px 20px -7px #FFFFFF, inset 0px 40px 20px -7px #FFFFFF;
    position: absolute;
    left: 49.7%;
    top: 0;
}
.main-timeline:after {
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline {
    width: 50.05%;
    display:inline-block;
    float: left;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline:before {
    content: url("images/svg/timeline-ellipse.svg");
    height: 25px;
    width: 25px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: -10.07px;
}

.main-timeline .timeline:nth-child(even) {
    float: right;
}

.main-timeline .timeline:nth-child(even):before {
    right: auto;
    left: -13px;
}

#specialists ul {
    padding-left: 2rem;
    list-style-type: none;
}

#specialists ul li {
    padding-left: 2rem;
    background-image: url("images/svg/Specialists-circle.svg");
    background-position: 0.6rem 0.1rem;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
}

#specialists .specialist-content {
    height: 100%;
}

#specialists .specialist-job {
    font-weight: 600;
    font-size: 1rem;
}

#specialists .card-body .specialist-name {
    font-weight: bold;
    font-weight: 600;
    line-height: 25.2px;
}

.card-image-container {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: hidden;
}

.card .card-body {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}

#gallery .card, #events .card, #presentations .card {
    transition: 0.5s;
    cursor: pointer;
}

#gallery .card:hover, #events .card:hover, #presentations .card:hover {
    -webkit-box-shadow: 0px 0px 36px 2px rgba(23,113,241,0.79);
    box-shadow: 0px 0px 36px 2px rgba(23,113,241,0.79);
}

#gallery .card .card-body p {
    font-size: 24px;
    font-weight: bold;
}

/* Carousel section start */
#testimonials .carousel-items .card .card-body {
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.12);
    font-size: 18px;
}

.carousel-items .slick-arrow, .img-slider .slick-arrow {
    z-index: 10;
    width: 48px;
    height: 48px;
}

.carousel-items .slick-arrow::before, .img-slider .slick-arrow::before {
    content: none;
}

.carousel-items .slick-arrow.slick-prev, .img-slider .slick-arrow.slick-prev {
    background: url("images/svg/testimonials elements/ArrowLeft.svg") 0 0 no-repeat;
    left: -50px;
}

.carousel-items .slick-arrow.slick-next, .img-slider .slick-arrow.slick-next {
    background: url("images/svg/testimonials elements/ArrowRight.svg") 0 0 no-repeat;
    right: -50px;
}

/* Adaptive testimonials section start */
@media screen and (max-width: 1030px) {
    .carousel-items .slick-arrow.slick-prev, .img-slider .slick-arrow.slick-prev {
        left: -30px;
    }

    .carousel-items .slick-arrow.slick-next, .img-slider .slick-arrow.slick-next {
        background: url("images/svg/testimonials elements/ArrowRight.svg") 0 0 no-repeat;
        right: -30px;
    }
}
/* Adaptive testimonials section end */

.carousel-items .slick-dots li, .img-slider .slick-dots li {
    list-style: none;
    margin-left: 20px;
}

.carousel-items .slick-dots li:first-child, .img-slider .slick-dots li:first-child {
    margin-left: 0;
}

.carousel-items .slick-dots button, .img-slider .slick-dots button {
    font-size: 0;
    width: 40px;
    height: 8px;
    background: url("images/svg/testimonials elements/Dot.svg") 0 0 no-repeat;
}

.carousel-items .slick-dots li.slick-active button, .img-slider .slick-dots li.slick-active button {
    background: url("images/svg/testimonials elements/DotActive.svg") 0 0 no-repeat;
}

.carousel-items .slick-dots li button:before, .img-slider .slick-dots li button:before {
    content: none;
}

#testimonials .carousel-items .card img {
    border-radius: 100%;
    width: 59px;
    height: 59px;
}
/* Testimonials carousel section end */

#prices .table thead tr {
    font-size: 24px;
    font-weight: 700;
    white-space: nowrap;
}

#prices .table tr td:not(:first-child) {
    font-weight: 700;
    color: #2E2E2E;
    text-align: center;
}

#prices .table tbody tr td {
    border-bottom: solid 1px black;
    width: 144px;
    padding-top: 17px;
    padding-bottom: 17px;
    white-space: nowrap;
}

#prices .table tbody tr td:first-child {
    width: 652px;
}

#prices .table tbody tr td.border-0 {
    width: 63px;
}

#contacts .contacts-container[class="position-absolute"] {
    z-index: 10;
    left: 0;
    right: 50%;
}

#contacts .contacts-container h5 {
    font-family: "Gilroy";
    font-weight: bold;
}

#contacts .contacts ul {
    list-style-type: none;
}

#contacts .contacts ul li {
    padding-left: 2rem;
    background-position: 0rem 0rem;
    background-size: 1.3rem 1.3rem;
    background-repeat: no-repeat;
}

#contacts .contacts ul li:first-child {
    background-image: url("images/svg/Contacts/Map-place.svg");
}

#contacts .contacts ul li:last-child {
    background-image: url("images/svg/Contacts/Phone.svg");
}

#contacts .contacts-container {
    max-width: 386px;
}

#contacts .contacts-container p {
    font-weight: bold;
    font-size: 18px;
}

#contact-form input, #contact-form textarea, #contact-form button[type="submit"] {
    border: none;
    outline: none;
    border-radius: 63px;
    padding: 13px 23px 13px 23px;
}

#contact-form textarea {
    min-height: 100px;
    border-radius: 16px;
    resize: none;
}

#contact-form input::placeholder, #contact-form textarea::placeholder {
    color: #ABABAB;
}

#contacts .height-adjuster {
    min-height: 640px;
}

footer {
    box-shadow: 0px -2px 0px #C8C8C8;
}

footer .text-container p:not(:first-child) span {
    border-bottom: 1px solid #2E2E2E;
    cursor: pointer;
}

@media screen and (max-width:767px) {
    .main-timeline:before {
        transform: translateX(0);
        left: -3px;
    }
    .main-timeline .timeline {
        width: 100%;
        margin-bottom: 20px;
    }

    .main-timeline .timeline:before {
        right: auto;
        left: -12px;
    }
}
